

<div class='col-md-offset-1 col-md-6'>
    <h3>Welcome to the subscription page.</h3>
    
    <div>
        {% include '_sub_text1.html' %}
    </div>    
    <form id="subscription_form" ">
    
        {% csrf_token %}
        
        <p hidden id='sub_type'>{{ subscription_form.type }}</p>
        <p hidden id='sub_desc'>{{ subscription_form.description }}</p>
    
        <div>
            <br>
            <button id='sub_selection_button' type='button' onclick='showCheckout(1)' class='btn btn-primary'>Continue</button>
            <button class='btn btn-primary' type='button' onclick='window.history.back()'>Cancel</button>
        </div>
    </form>
    
</div>


    
