/* 
colours: 11
#21677F: GenBk : general background 
#21677F: GenBord : general border 
#fff: BrndTxt : brand title text
#fff: BrndHvrBk : brand hover background
#fff: MenuTxt : menu text 
#fff: MenuTxtHvr : menu text hover
#35A4CC: MenuHvrBk : menu item hover background 
#fff: MenuItemSelTxt : menu item selected text 
#48717F: MenuItemSelBk : menu item selected background 
#fff: DropItemHvrTxt : dropdown menu item hover text
#35A4CC: DropItemHvrBk : dropdown menu item hover background
*/

/* Previous colors */


/* navbar */

.navbar-default {
    background-image: none;
    background-color: #21677F !important; /*GenBk*/
    border-color: #21677F !important; /*GenBord*/
}

.nav{
    background-image: none;
    background-color: #21677F !important; /*GenBk*/
    border-color: #21677F !important; /*GenBord*/
}

.navbar{
    background-image: none;
    background-color: #21677F !important; /*GenBk*/
    border-color: #21677F !important; /*GenBord*/
}

/*------------------------------------------------------*/

/* brand title colour*/
.navbar-default .navbar-brand{
    color: #fff !important; /*BrndTxt*/
}

/* brand text hover colour */
.navbar-default .navbar-brand:hover:hover,
.navbar-default .navbar-brand:focus:focus {
    color: #fff !important; /*BrndHvrBk*/
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/

/* menu item text */
.navbar-default 
.navbar-nav>li>a {
    color: #fff !important; /*MenuTxt*/
}

/* menu item hover */
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
    color: #fff !important; /*MenuTxtHvr*/
    background-color: #35A4CC !important; /*MenuHvrBk*/
}

/* menu item selected: text and background */
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #48717F !important; /*MenuItemSelBk*/
    color: #fff !important; /*MenuItemHvrTxt*/
}

/* dropdown menu items: hover text and background*/
.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #fff !important; /*DropItemHvrTxt*/
    background-color: #35A4CC !important; /*DropItemHvrBk*/
}

/*------------------------------------------------------*/


.btn_plus{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
/*------------------------------------------------------*/
/* Opening Page */

#opening-page{
    border:solid;
    background-image: url("../images/pablo (1).png");
    background-size: cover;
    background-color: #cccccc;
}


/*------------------------------------------------------*/
/* Base html */


body{
    background-color: #fafafa;
}

input{
    background-color: #fafafa;
}

/*button{*/
/*    background-color: red !important;*/
/*}*/

/*------------------------------------------------------*/
/* navbar */

/*.navbar div{*/
/*    background-color: #f5f5f5 !important;*/
/*}*/

.navbar-brand {
    padding-left: 0;
    font-size: 34px !important;
    font-family: 'Roboto Slab', serif !important;
}

.navbar-collapse a{
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
}

/* titles */
.page-title h1{
    font-family: 'Roboto', sans-serif;
    /*font-size: 24px */
}

h3{
    font-family: 'Roboto', sans-serif;
}

/*------------------------------------------------------*/
/* Login page */

/*------------------------------------------------------*/
/* Dropdown menu */


/*------------------------------------------------------*/
/* List Items */

.list-group a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--link-colour);
}

.list-group-item{
    background-color: #f5f5f5 !important;
}

.list-group-item:hover{
    background-color: #12a9ec !important;
}

/*------------------------------------------------------*/
/* Badges */

.badge-error {
    background-color: #b94a48;
}

.badge-error:hover {
    background-color: #953b39;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}


/*------------------------------------------------------*/
/*Forms*/


/*------------------------------------------------------*/
/* Video page */

#video_list_container{
    border-color: var(--link-colour);
}


/*------------------------------------------------------*/
/* Category  */

#category_list_container{
    border-color: var(--link-colour);
}

/*------------------------------------------------------*/
/* Snippet page */

#snippet_list_container {
    border-color: var(--link-colour);
}


