/*------------------------------------------------------*/
/* Opening Page */

#opening-page{
    height:600px;
    border:solid;
    background-image: url("../images/pablo (1).png");
    background-size: cover;
    background-color: #cccccc;
}

/*------------------------------------------------------*/
/* Base html */

body{
    margin-top: 65px;
}

#message_div{
    position: absolute;
}
/*------------------------------------------------------*/
/* Login page */

#id_username, #id_password{
    width:300px;
}

#id_email, #id_password1, #id_password2{
    width:300px;
}

/*------------------------------------------------------*/
/* Video page */

.video-wrapper {
  position: relative;
  padding-bottom: 75%;
  /* 4:3 aspect ratio */
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  padding-top: 0;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*------------------------------------------------------*/

.field_input_label{
    margin:0px;
}

.field_input{
    width: 300px;
}

#video_list_container{
    border-top:solid;
    border-width: thin;
    max-height: 350px;
    overflow-y:scroll;
    padding-top:10px;
}

#category_list_container{
    border-top:solid;
    border-width: thin;
    max-height: 350px;
    overflow-y:scroll;
    padding-top:10px;
}

.video_list_item{
    margin-left:20px;
    margin-right:20px;
}

#id_title{
    width:400px;
}

#id_url{
    width:400px;
}

a.video_links{
    color: black;
    text-decoration: none;    
}
/*------------------------------------------------------*/
/* Category page */

#id_category{
    width:300px;
}

/*------------------------------------------------------*/
/* Snippet page */

#yt_player{
    border:solid;
    border-width: thin;
    height: 450px;
    width: 750px;
}

/*------------------------------------------------------*/

#snippet_list_container {
    border-top:solid;
    border-width: thin;
    max-height: 350px;
    overflow-y:scroll;
    padding-top:10px;
}

.list_item{
    margin-left:20px;
    margin-right:20px;
}

a.snippet_links{
    color: black;
    text-decoration: none;    
}

a.snippet_links:link a.snippet_links:visited {
    color: black;
}

a.snippet_links:hover{
    color: red;
}

.btn_plus{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/* Snippet Controls */

.progress_text{
    font-weight:bold 
}

#snippet_control_container{
    border-top:solid;
    border-width: thin;
}


.snippet_title{
    width:400px;
}

/*------------------------------------------------------*/

#snippet_controls1{
    border-top:solid;
    border-width: thin;
    height: 145px;
    padding-left:10px;
    padding-top:20px;
}

/*.snippet_controls1>div{*/
/*    padding:0px;*/
/*    margin:0px;*/
/*}*/

.snippet_markers{
    width:60px;
}

.marker_field{
    width:65px;
    font-weight: bold;
    border:solid;
    border-width: thin;
    padding-left:5px;
    padding-right:5px;
}

.set_label{
    margin-right: 0px;
    width:90px;
}

.set_button{
    color:blue;
}

/*------------------------------------------------------*/

.snippet_controls2{
    border-top:solid;
    border-width: thin;
    height: 70px;
    padding-left:10px;
    padding-top: 20px;
    padding-bottom:10px;
}

.snippet_controls2_col{
    height: 80px;
    padding-right:0;
    padding-left:0;
    padding-bottom:10px;
}

.speed_loop_label{
    vertical-align:top;
    padding-top:0px;
    padding-right:0;
    padding-left:0;
}

.speed_loop_label h5{
    padding-left:30px;
}

.speed_loop_item{
    padding-top:8px;
    padding-right:0;
    padding-left:0;
}
/*------------------------------------------------------*/

.snippet_controls3{
    border-top:solid;
    border-bottom:solid;
    border-width: thin;
    height: 80px;
    padding-left:10px;
    padding-top: 20px;
}

/*------------------------------------------------------*/