/*------------------------------------------------------*/
/* Opening Page */

#opening-page{
    height:600px;
}

/*------------------------------------------------------*/
/* Base html */

body{
    margin-top: 65px;
}

#message_div{
    position: absolute;
}

.navbar-nav>li>a {
    padding-top: 20px !important;
    min-height: 60px !important;
}
/*------------------------------------------------------*/
/* Login page */

#id_username, #id_password{
    width:300px;
}

#id_email, #id_password1, #id_password2{
    width:300px;
}

/*------------------------------------------------------*/
/* Dropdown menu */

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

/*------------------------------------------------------*/
/* Badges */

.badge {
    margin-top:3px;
    padding: 1px 9px 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}


/*------------------------------------------------------*/
/*Forms*/

.field_input_label{
    margin:0px;
}

.field_input{
    width: 500px;
}

#id_category{
    width:300px;
}

/*------------------------------------------------------*/
/*Subscription*/

#id_select_sub{
    width:200px;
    height:25px;    
}

/*------------------------------------------------------*/
/* Video page */

/*------------------------------------------------------*/
/* Category */

#id_category{
    padding-left: 10px;
    width:350px;
    height:25px;    
}

#category_list_container{
    border-top:solid;
    border-bottom:solid;
    border-width: thin;
    max-height: 350px;
    overflow-y:scroll;
    padding-top:15px;
    margin-bottom:5px;
}

#video_list_container{
    border-top:solid;
    border-bottom:solid;
    border-width: thin;
    max-height: 350px;
    overflow-y:scroll;
    padding-top:15px;
    margin-bottom:5px;
}

.video_list_item{
    margin-left:20px;
    margin-right:20px;
}

#id_title{
    padding-left: 10px;
    width:500px;
}

#id_url{
    padding-left: 10px;
    width:500px;
}


/*------------------------------------------------------*/
/* Snippet page */

#id_start{
    padding-left: 10px;
    max-width: 80px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 75%;
  /* 4:3 aspect ratio */
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  padding-top: 0;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#yt_player{
    border:solid;
    border-width: thin;
    height: 450px;
    width: 750px;
}

/*------------------------------------------------------*/

#snippet_list_container {
    border-top:solid;
    border-bottom:solid;
    border-width: thin;
    max-height: 350px;
    overflow-y:scroll;
    padding-top:15px;
    margin-bottom:5px;
}

.list_item{
    margin-left:20px;
    margin-right:20px;
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/* Snippet Controls */

.progress_text{
    font-weight:bold 
}

#snippet_control_container{
    border-top:solid;
    border-width: thin;
}

.snippet_title{
    width:400px;
}

/*------------------------------------------------------*/

#snippet_controls1{
    border-top:solid;
    border-width: thin;
    height: 145px;
    padding-left:10px;
    padding-top:20px;
}

.snippet_markers{
    width:60px;
}

.marker_field{
    width:65px;
    font-weight: bold;
    border:solid;
    border-width: thin;
    padding-left:5px;
    padding-right:5px;
}

.set_label{
    margin-right: 0px;
    width:90px;
}

.set_button{
    color:blue;
}

/*------------------------------------------------------*/

.snippet_controls2{
    border-top:solid;
    border-width: thin;
    height: 70px;
    padding-left:10px;
    padding-top: 20px;
    padding-bottom:10px;
}

.snippet_controls2_col{
    height: 80px;
    padding-right:0;
    padding-left:0;
    padding-bottom:10px;
}

.speed_loop_label{
    vertical-align:top;
    padding-top:0px;
    padding-right:0;
    padding-left:0;
}

.speed_loop_label h5{
    padding-left:30px;
}

.speed_loop_item{
    padding-top:8px;
    padding-right:0;
    padding-left:0;
}
/*------------------------------------------------------*/

.snippet_controls3{
    border-bottom:solid;
    border-width: thin;
    height: 80px;
    padding-left:10px;
}

/*------------------------------------------------------*/