
/* Body */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body{
    /*background: linear-gradient(-90deg, #21677F, hsla(0,30%,100%,0));*/
    /*background: linear-gradient(-90deg, #35A4CC, #21677F);*/
    background-size: 100% 900px;
    background-repeat: no-repeat;
}

/*------------------------------------------------------*/

.btn_plus{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
}
/*------------------------------------------------------*/
/* Opening Page */

#opening-page{
    border:solid;
    background-image: url("../images/pablo (1).png");
    background-size: cover;
    background-color: #cccccc; /*OpnPgBk*/
}


/*------------------------------------------------------*/
/* Base html */


body{
    background-color: #fafafa; /*BodyBk*/
}

input{
    background-color: #fafafa; /*InpBk*/
}

/*------------------------------------------------------*/
/* titles */

.page-title h1{
    font-family: 'Roboto', sans-serif;
    color: #48717F; /*h1Ttl*/
}

h3{
    font-family: 'Roboto', sans-serif;
    color: #48717F; /*h3Ttl*/
}

h4{
    font-family: 'Roboto', sans-serif;
    color: #48717F; /*h4Ttl*/
}

.speed_loop_label h5 {
    color:#48717F; /*CtlLbl*/
}

.set_label{
    color:#48717F; /*CtlLbl*/
}

/*check this one*/
/*input[type="radio"]:active,*/
/*input[type="radio"]:focus{*/
/*    background-image: none;*/
    /*background-color: #21677F !important;*/
/*}*/

.btn-info {
    background-image: none !important;
    color: #ffffff !important; /*BtnTxt*/
    background-color: #48717F !important; /*BtnBk*/
    border-color: #48717F !important; /*BtnBrd*/
}
.btn-sm{
    background-image: none !important;
    color: #ffffff !important; /*BtnTxt*/
    background-color: #48717F !important; /*BtnBk*/
    border-color: #48717F !important; /*BtnBrd*/
}

.btn-primary {
    background-image: none !important;
    color: #ffffff !important; /*BtnTxt*/
    background-color: #48717F !important; /*BtnBk*/
    border-color: #48717F !important; /*BtnBrd*/
}

/* check on this: */
/*.btn.focus, */
/*.btn:active.focus, */
/*.btn.active.focus,*/
/*.btn:active:focus, */
/*.btn.active:focus {*/
/*    box-shadow: #c13db3 !important*/
/*}*/

/*.btn:active:focus, */
/*.btn.active:focus, */
/*.btn.focus, */
/*.btn:active.focus, */
/*.btn.active.focus{*/
/*    border-color: #c13db3 !important*/
/*}*/


/*------------------------------------------------------*/
/* Login page */

/*------------------------------------------------------*/
/* Dropdown menu */


/*------------------------------------------------------*/
/* List Items */

.list-group a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #394347; /*LstTxt*/
}

.list-group-item{
    background-color: #f5f5f5 !important;
}

/*.list-group-item:hover, */
/*button.list-group-item:hover, */
/*a.list-group-item:focus, */
/*button.list-group-item:focus {*/
/*    text-decoration: none;*/
/*    color: #f9f5f5;*/
/*    background-color: #f5f5f5;*/
/*}*/

.list-group-item:hover, 
a.list-group-item:focus{
    background-color: #48717F !important; /*LstHvrBk*/
    color: #f9f5f5 !important /*LstHvrTxt*/
}

/*------------------------------------------------------*/
/* Badges */

.badge-error {
    background-color: #b94a48; 
}

.badge-error:hover {
    background-color: #953b39; 
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

/*------------------------------------------------------*/
/*fa colours*/

.fa-pencil {
    color: #adae9e; /*faIcn*/
}
.fa-trash{
    color: #adae9e; /*faIcn*/
}
.fa-plus{
    color: #adae9e; /*faIcn*/
}


/*------------------------------------------------------*/
/*Forms*/


/*------------------------------------------------------*/
/* Video page */

#video_list_container{
    border-color: #adae9e; /*CntrBrd*/
}


/*------------------------------------------------------*/
/* Category  */

select[name="category"] {
    background-color:#fafafa;
}
#category_list_container{
    border-color: #adae9e; /*CntrBrd*/
}

/*------------------------------------------------------*/
/* Snippet page */

#snippet_list_container {
    border-color: #adae9e; /*CntrBrd*/
}


