

<h3>Snippets List</h3>

<div id = 'snippet_list_container'>
    <div class = 'list_item'>
        {% for snippet in snippet_list %}
            <p>
                <a href='{% url "snippet-edit" snippet.id %}'><i class="fa fa-pencil"></i></a>
                <a href='{% url "snippet-delete" snippet.id %}'><i class="fa fa-trash"></i></a>
                <a class='snippet_links' onclick='controlToggle()' href='{% url "snippet-control" snippet.id %}'>{{ snippet.title }}</a>
            </p>
        {% endfor %}
    </div>
</div>
<a href='{% url "snippet-add" video.id %}'><i class="fa fa-plus"></i></a>

<br><br>
<div class='col-md-12 snippet_controls3'>
    <p>
        <button onclick='videoReturn()' type="button" class="btn btn-info" >Return</button>
    </p> 
</div>


<script>

function videoReturn(){
    var video_url = localStorage.getItem("video_url");
    window.location.href = video_url;
    return
}
</script>

