

<h3>Snippets Control</h3>
<div id = 'snippet_control_container'>
        
    <h4 id='id_title_display'></h4>

<!----------------------------------------------------------------------------->                        

    <form id='snippet_save' method="POST">

        <input hidden type="text" name="title" required id="id_title" maxlength="500" />   
        {% csrf_token %}

<!----------------------------------------------------------------------------->

        <div id='snippet_controls1'>
            <p>       
            <label class="set_label" for="start">Start Marker:</label>
                <button type="button" class="btn_plus set_button" onclick="setMarker(0)"><i class="fa fa-plus"></i></button><input type='number' name='start' step='0.1' id='id_start' class='marker_field'/>
            </p>
            <p>
            <label class="set_label" for="end">End Marker:</label>
                <button type="button" class="btn_plus set_button" onclick="setMarker(1)"><i class="fa fa-plus"></i></button><input type='number' name='end' step='0.1' id='id_end' class='marker_field'>
            </p>    
            <p>
                <label class="set_label" for="jump">Jump Back:</label>
                <input type='number' name='jump' step='0.1' id='id_jump' class='marker_field'>
            </p>
        </div>
    
<!----------------------------------------------------------------------------->
    
        <div class='snippet_controls2'>
            <p>
                <button type="button"  id="play_btn" class="btn btn-info" onclick="togglePlay()">Play</button>
                <button type="button" class="btn btn-info" onclick="jumpBack()">Jump Back</button>
                <button type="button" class="btn btn-info" onclick="playRestart()">Restart</button>
            </p>
        </div>
        
        <div class='snippet_controls2_col'>
            <div class='col-md-3 speed_loop_label'>
                <h5>Speed:</h5>
            </div>
            <div class='col-md-3 speed_loop_item'>
                <input id='video_speed' type="radio" name="speed" onclick="setSpeed(1)" checked> Normal<br>
                <input type="radio" name="speed" onclick="setSpeed(0.5)"> Slow<br>
                <input type="radio" name="speed" onclick="setSpeed(0.25)"> Slower
            </div>
            <div class='col-md-3 speed_loop_label'>
                <h5>Loop:</h5>
            </div>
            <div class='col-md-3 speed_loop_item'>
                <input type="checkbox" id='snippet_loop' name="loop"  unchecked>
            </div>
        </div>
        
<!----------------------------------------------------------------------------->        

        <div class='col-md-12 snippet_controls3'>
            <p>
                <button type="submit" class="btn btn-info" >Save</button>
                <button type="button" class="btn btn-info" onclick="controlToggle()" >Return</button>
            </p> 
        </div>
<!----------------------------------------------------------------------------->      

    </form>
</div>

<!----------------------------------------------------------------------------->


<!----------------------------------------------------------------------------->
<!--<div class="bs-example">-->
<!--    <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Full Screen</a>-->
    
    <!-- Modal HTML -->
<!--    <div id="myModal" class="modal fade">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
                <!-- Content will be loaded here from "remote.php" file -->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!----------------------------------------------------------------------------->