
<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
<li><a href="{% url "snippet-add" video.id %}"><i class="fa fa-plus-square-o"></i> Add New Snippet</a></li>

<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-play"></i> Play Snippet <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for snippet in snippet_list %}
        <li><a class='snippet_links' onclick='controlToggle()' href='{% url "snippet-control" snippet.id %}'>{{ snippet.title }}</a></li>
        {% endfor %}
    </ul>
</li>
