
<li><a href="/"><i class="fa fa-home"></i> Home</a></li>

<li class="dropdown">
    <a id="edit_snippet" href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-plus-square-o"></i> Snippets <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'snippet-add' video.id %}">Add New Snippet </a></li>
        <li><a id="edit_list3_menu" class="disabled" href='#' onclick="changeListItems('edit_list', 3)">Edit Snippet</a></li>
        <li><a id="delete_list3_menu" class="disabled" href='#' onclick="changeListItems('delete_list', 3)">Delete Snippet</a></li>
    </ul>
</li>

<li class="dropdown">
    <a id="play_snippet" href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-play"></i> Play Snippet <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for snippet in snippet_list %}
        <li><a class='snippet_links' onclick='controlToggle()' href='{% url "snippet-control" snippet.id %}'>{{ snippet.title }}</a></li>
        {% endfor %}
    </ul>
</li>
