

<h3>Snippets List</h3>

<div id = 'snippet_list_container'>
    <div class='list-group'>
        {% for snippet in snippet_list %}
    
        <span class="default_list3 tmp"><a class="snippet_links list-group-item list-group-item-action" onclick="controlToggle()" 
            href="{% url "snippet-control" snippet.id %}">{{ snippet.title }}</a></span>
        
        <span class="edit_list3" hidden><a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
            href='{% url "snippet-edit" snippet.id %}'><span class="badge badge-success">edit</span>{{ snippet.title }}</a></span>

        <span class="delete_list3" hidden><a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
            href='{% url "snippet-delete" snippet.id %}'><span class="badge badge-error">del</span>{{ snippet.title  }}</a></span>
            
        {% endfor %}
    </div>
</div>
<a onclick='saveCurrent()' href='{% url "snippet-add" video.id %}'><i class="fa fa-plus"></i></a> &nbsp
{% if snippet_list %}
    <a href='#' class="disabled" onclick="changeListItems('edit_list', 3)"><i class="fa fa-pencil"></i></a> &nbsp
    <a href='#' class="disabled" onclick="changeListItems('delete_list', 3)"><i class="fa fa-trash"></i></a>
{% endif %}

<br><br>
<div class='col-md-12 snippet_controls3'>
    <p>
        <button onclick='setPreviousPosition()' type="button" class="btn btn-info" >Play from last position</button>
        <button onclick='videoReturn()' type="button" class="btn btn-info" >Return</button>
    </p> 
</div>


<script>

function videoReturn(){
    var video_url = localStorage.getItem("video_url");
    window.location.href = video_url;
    return
}

function saveCurrent(){
    var current = Number((player.getCurrentTime()).toFixed(1));
    if (current > 2) {
        current -=2
    }
    localStorage.setItem("current", current);
};

function setPreviousPosition(){
    var current = localStorage.getItem("current");
    current = Number(current);
    player.seekTo(current);
}

</script>

