{% extends 'base.html' %}
{% load static from staticfiles %}

{% load bootstrap_tags %}
{% load staticfiles %}


{% block title %}

Snippet Page

{% endblock %}


{% block navbar %}

{% include "videosnippets/_snippet_navbar.html" %}

{% endblock %}

{% block content %}
<!----------------------------------------------------------------------------->

<div class="container">
    <div class='row'>
        <div class="col-md-8" >
            <h3>{{ video.title }}</h3>
            
           <div class="video-wrapper">
                <div id="player"></div>
            </div>
            
        </div>

        <div class="col-md-4" >
            <!--Snippet List Section-->
            <div class='tmp' id='snippet_list_div'>
                {% include 'videosnippets/_snippet_list.html' %}
            </div>
        
            <!--Snippet Control Section-->
            <div hidden id='snippet_control_div' >
                {% include 'videosnippets/_snippet_control.html' %}
            </div>
        </div>
    </div>   
</div>   
 
<!----------------------------------------------------------------------------->
<!--Video Modal Screen-->

<!--<div class="bs-example">-->
    
<!--    <div id="video_modal" class="modal fade">-->
<!--        <div class="modal-dialog">-->
<!--            <div id='yt_player2' class="modal-content">-->
                
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!----------------------------------------------------------------------------->

<!----------------------------------------------------------------------------->

<div hidden id='json_display'></div>

{% endblock %}

<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->

{% block footerjs %}

<script>

// snippet control view

$(".snippet_links").click(function(event) {
    event.preventDefault();
    var target = $(this).attr("href");
    $("#json_display").load(target, function(responseTxt, statusTxt, xhr){
        if(statusTxt == "success")
            obj = JSON.parse(responseTxt);
            url = '/snippets/save/' + obj.id
            $('#snippet_save').attr('action', url);
            
            $('#snippet_id_display').html(obj.id);
            $('#snippet_id').html(url);
            $('#id_title_display').html(obj.title);
            $('#id_title_display').attr("value", obj.title);
            
            $('#id_title').html(obj.title);
            $('#id_title').attr("value", obj.title);
            
            $("#id_start").attr("value", obj.start);
            $("#id_start").val(obj.start);
            $("#id_end").attr("value", obj.end);
            $("#id_end").val(obj.end);
            $("#id_jump").attr("value", obj.jump);
            $("#id_jump").val(obj.jump);
        if(statusTxt == "error")
            alert("Error: " + xhr.status + ": " + xhr.statusText);
    });
});

//------------------------------------------------------------------------------
</script>


<script>
    videoid = '{{video.yt_id}}';
</script>

<script src="{% static 'js/youtube.js' %}"></script>

{% endblock %}

