{% extends 'base.html' %}
{% load static from staticfiles %}

{% load bootstrap_tags %}
{% load staticfiles %}


{% block title %}

Snippet Page

{% endblock %}

{% block content %}

<div class="col-md-8" >
    <h3>{{ video.title }}</h3>
    <div id="player"></div>
</div>

<div id='snippet_list_div'>
    {% include 'videosnippets/_snippet_list.html' %}
</div>
<!----------------------------------------------------------------------------->
<!--Snippet Control Section-->

<div id='snippet_control_div' >
    {% include 'videosnippets/_snippet_detail.html' %}
</div>

<!----------------------------------------------------------------------------->

<a id="click_btn" href = {% url "snippet-detail" 12 %} >
   Click here
</a>
<div hidden id='json_display'></div>

<p id='snippet_start'></p

<!----------------------------------------------------------------------------->
{% endblock %}

{% block footerjs %}

<script>

// $("#a_ajax_test").click(function(event) {
//     $.ajax({
//         url: "/snippets/45/0",
//         type: 'get',
//         success: function (data) {
//           alert("Success");
//           var div = document.getElementById('ajax_test');
//           div.innerHTML = div.innerHTML + data;       
//         }
//       });
// });    

$("#click_btn").click(function(event) {
    event.preventDefault();
    var target = $(this).attr("href");
    $("#json_display").load(target, function(responseTxt, statusTxt, xhr){
        if(statusTxt == "success")
            // alert("External content loaded successfully!");
            obj = JSON.parse(responseTxt);
            alert(obj.title);
            $('#snippet_title').html(obj.title);
            $("#snippet_start").attr("value", obj.start);
        if(statusTxt == "error")
            alert("Error: " + xhr.status + ": " + xhr.statusText);
    });
});

</script>


<script>
    var videoid = '{{video.yt_id}}';
</script>

<script src="{% static 'js/youtube.js' %}"></script>
    
{% endblock %}

