{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}

Video Page

{% endblock %}


{% block content %}

<div class='col-md-offset-1 col-md-6'>
    
    <h3><span id='add_edit'>Add</span> Category</h3>
    
    <script>$('#add_edit').html(($(location).attr('href').search('/edit/') > 0) ? 'Edit' : 'Add');</script>
    
    <form id="videocategory_form" method ='POST' enctype="multipart/form-data" >
        {% csrf_token %}
        
        {% for field in form %}
            <label class="field_input_label">{{ field.label_tag }}</label>
            <p id='videocategory_field'>{{ field }}</p>
        {% endfor %}
        
        <br>
        <button class='btn btn-primary' type='submit'>Save</button>
        <button class='btn btn-primary' type='button' onclick='window.history.back()'>Cancel</button>
    </form>

</div>


{% endblock %}

