
<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
<li><a onclick="setVideoSubTitle('all')" href="{% url 'video-list' 0 %}"><i class="fa fa-object-group"></i> All Videos</a></li>
<li><a onclick="setVideoSubTitle('no-category')"href="{% url 'video-list' 9999 %}"><i class="fa fa-object-ungroup"></i> Uncategorised Videos</a></li>

<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-plus"></i> Add <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href='{% url "videocategory-add" %}'>Add New Category</a></li>
        <li><a href='{% url "video-add"%}'>Add New Video</a></li>
    </ul>
</li>
