{% extends 'base.html' %}
{% load bootstrap_tags %}


{% block navbar %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>

    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-video-camera"></i> Videos <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a onclick="setVideoSubTitle('all')" href="{% url 'video-list' 0 %}">All Videos</a></li>
            <li><a onclick="setVideoSubTitle('no-category')"href="{% url 'video-list' 9999 %}">Uncategorised Videos</a></li>
        </ul>
    </li>
    <li><a href="{% url 'subscribe' %}"><i class="fa fa-film"></i> Subscribe</a></li>
    <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> My Profile</a></li>
    <li><a href="#"><i class="fa fa-life-ring"></i> Support</a></li>
    <li><a href="#">{{ request.user.username }}</a></li>
</ul>

{% endblock %}


