{% extends 'base.html' %}


{% block title %}

Video Page

{% endblock %}

{% block content %}
<div class='col-md-offset-1 col-md-6'>
<h3>Delete Video</h3>
    
    <form action="" method="post">
        {% csrf_token %}
        <p class="confirm">Are you sure you want to delete the following Video?</p>
        <h3>"{{ object }}"</h3>
        <br>
        <button class='btn btn-primary' type="submit" value="Confirm">Confirm</button>
        <button class='btn btn-primary' type='button' onclick='window.history.back()'>Cancel</button>
    </form>

</div>

{% endblock %}