{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}

Video Page

{% endblock %}



{% block content %}

<div class='col-md-6'>
    <h3>Add Video</h3>

    <form id="video_form" method ='POST' enctype="multipart/form-data" >
        {% csrf_token %}
        
        {% for field in form %}
            <label class="field_input_label">{{ field.label_tag }}</label>
            <p id='video_field'>{{ field }}</p>
        {% endfor %}
        
        <br>
        <button type='submit'>Save</button>
        <button type='button' onclick='window.history.back()'>Cancel</button>
    </form>

</div>


{% endblock %}

