{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}

Video Page 

{% endblock %}


{% block navbar %}

{% include "videos/_video_navbar.html" %}

{% endblock %}


{% block content %}
<div class='col-md-4 '>
    <h3>Category List</h3>
    
    <div id = 'category_list_container'>
        <div class = 'list_item'>
            {% for category in videocategory_list %}
                <p>
                    <a href='{% url "videocategory-edit" category.id %}'><i class="fa fa-pencil"></i></a>
                    <a href='{% url "videocategory-delete" category.id %}'><i class="fa fa-trash"></i></a>
                    <a class='video_links' onclick="setVideoSubTitle('{{ category }}')" href='{% url "video-list" category.id %}'>{{ category }}</a>
                </p>
            {% endfor %}
        </div>
    </div>
    <a href='{% url "videocategory-add" %}'><i class="fa fa-plus"></i></a>
</div>

<div class='col-md-offset-1 col-md-7'>
    <h3 id='video_title'>Video List</h3>
    
    <div id = 'video_list_container'>
        <div class = 'list_item'>
            {% for video in video_list %}
                <p>
                    <a href='{% url "video-edit" video.id %}'><i class="fa fa-pencil"></i></a>
                    <a href='{% url "video-delete" video.id %}'><i class="fa fa-trash"></i></a>
                    <a class='video_links' href='{% url "snippet-list" video.id 0 %}'>{{ video.title }}</a>
                </p>
            {% endfor %}
        </div>
    </div>
    <a href='{% url "video-add"%}'><i class="fa fa-plus"></i></a>
</div>

<!----------------------------------------------------------------------------->

<script>

window.onload = checkURLHistory();

function checkURLHistory(){
    var video_url = window.location.href;
    localStorage.setItem("video_url", video_url);
    video_sub_title = localStorage.getItem("video_sub_title");
    
    if(video_sub_title != undefined){
        var title = document.getElementById('video_title').innerHTML
        document.getElementById('video_title').innerHTML = title + ' (' + video_sub_title + ')'
    
    localStorage.setItem("current", 0);    
    }
    return
}
</script>

{% endblock %}

<!----------------------------------------------------------------------------->
